<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/resha/IdeaProjects/AllureFramework/src/test/java/LMP.java">
        <classes>
            <class name="LMP"/>
        </classes>
    </test>
</suite>